<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885595064635-0cp4vsj6tcm58jg6537j474vpa15fch7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885595064635-0cp4vsj6tcm58jg6537j474vpa15fch7</string>
	<key>API_KEY</key>
	<string>AIzaSyCnt-67VJVrHHzmxGlqEOS4M4os0mZybnI</string>
	<key>GCM_SENDER_ID</key>
	<string>885595064635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kodaScoreWebapp</string>
	<key>PROJECT_ID</key>
	<string>koda-score-webapp</string>
	<key>STORAGE_BUCKET</key>
	<string>koda-score-webapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885595064635:ios:88e26305154bf81cc08f1e</string>
</dict>
</plist>